@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Free Contact Manager</h1>
    <p class="lead">ASP.NET</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>What it does</h2>
        <p>
            This application enables the user to manage his/her contacts, such as, add, edit, delete, search, etc.<br />
            It also can retrieve the longitude and latitude of the contact addresss automatically.
        </p>
    </div>
</div>