@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This application enables the user to manage his/her contacts, such as, add, edit, delete, search, etc.<br />
    It also can retrieve the longitude and latitude of the contact addresss automatically.
</p>
